body {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: #141414;

    transition: color 1.0s ease;
}

.afterhours {
    background-color: #141414;
    color: white;
}

#area-top {
    height: 128px;
}

#area-middle {
    height: 100%;

    margin: 0px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -30px;
}

#area-bottom {
    height: 100%;

    margin: 0px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -30px;
}

#area-title {
    float: left;
    width: 60%;
    margin-bottom: 15px;
}

#area-clock {
    float: right;
}

#cluck-logo {
    float: left;
    width: 100px;
    margin-right: 20px; 
    margin-bottom: -20px;
}

#cluck-title {
    font-size: 60px;
    font-weight: bolder;

    margin-top: 0px;
    margin-bottom: 0px;
}

#cluck-fortune {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;

    margin-top: 0px;
    margin-bottom: -20px;
}

#cluck-clock {
    font-family: 'Pt Mono', sans-serif;

    text-align: right;

    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 60px;
}

#cluck-countdown {
    text-align: right;

    margin-top: 0px;
    margin-bottom: -20px;

    font-weight: lighter;
}

#top-border {
    display: inline;

    border-color: #EEEEEE;
    color: #EEEEEE;
    background-color: #EEEEEE;
}

.splitter {

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.afterhours .splitter {

    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background-color: #141414;
}

.top-splitter {
    position: absolute;
    top: 120px;
    width: 99%;
    margin: 0;
}

.bottom-splitter {
    position: absolute;
    bottom: 120px;
    width: 99%;
    margin: 0;
}

.vertical-splitter {
    position: absolute;
    left: 70%;
    border-width: 1px;
    top: 120px;
    bottom: 120px;
    margin: 0;
}


#cluck-list {
    position: absolute;
    left: 5px;
    top: 130px;
    bottom: 130px;
    width: calc(70% - 13px);

}

#cluck-bus {
    position: absolute;

    top: 130px;
    bottom: 130px;
    left: calc(70% + 10px);
    right: 5px;


}

#cluck-extra {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 110px;
}

#logged-label {
    margin-top: 12px;
    margin-bottom: 18px;
    margin-left: 5px;
    font-size: 40px;
}

.afterhours #logged-label {
    color: darkred;
}

#cluck-members {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.team-member {
    height: 80px;
    width: 31.5%;
    background-color: #eee;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 2px;
    margin-bottom: 2px;

    padding: 2px;
    
    border-radius: 5px;
}

.afterhours .team-member  {
    background-color: #222;
}

.team-member-info {
    width: calc(100% - 80px);
}

.team-member-label {
    font-size: 32px;

    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.team-member-time {
    font-size: 28px;
    font-weight: lighter;
    font-family: 'PT Mono', sans-serif;

    margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-member-picture {
    float: right;
    height: 70px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.team-member-total {
    float: right;
    margin-top: 5px;
    margin-bottom: 0px;
}

.team-member-cert {
    margin-top: 0px;
}

.members-overflow {

    display: none;

    height: 50px;
    width: 98%;
    background-color: #eee;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    
    border-radius: 5px;
    
}

.afterhours .members-overflow {
    background-color: #222;

}

#overflow-text {
    text-align: center;
    font-size: 20px;
}